# Akshat Vyas (Roll No. 60)

In [37]:
import sqlite3

# Connecting to Database

In [39]:
connection = sqlite3.connect('./genericDatabase.db')
cursor = connection.cursor()

# Create Table

In [41]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER NOT NULL
    )
''')
connection.commit()

# CRUD Operations

## Create (Insertion)

In [43]:
def create_student(name, age):
    cursor.execute('''
        INSERT INTO students (name, age) 
        VALUES (?, ?)
    ''', (name, age))
    connection.commit()
    print("Record added successfully!")

In [45]:
create_student("Griffith", 20)
create_student("Guts", 22)

Record added successfully!
Record added successfully!

# Read (Retrieve)

In [47]:
def read_students():
    cursor.execute('SELECT * FROM students')
    rows = cursor.fetchall()
    print("Student Records:")
    for row in rows:
        print(row)

read_students()

Student Records:
(1, 'Griffith', 21)
(3, 'Griffith', 20)
(4, 'Guts', 22)
(5, 'Griffith', 20)
(6, 'Guts', 22)

# Update

In [21]:
def update_student_age(student_id, new_age):
    cursor.execute('''
        UPDATE students
        SET age = ?
        WHERE id = ?
    ''', (new_age, student_id))
    connection.commit()
    print("Student age updated successfully!")

update_student_age(1, 21)  # Updating Griffith's age to 21
read_students()

Student age updated successfully!
Student Records:
(1, 'Griffith', 21)
(3, 'Griffith', 20)
(4, 'Guts', 22)

# Delete

In [49]:
def delete_student(student_id):
    cursor.execute('''
        DELETE FROM students
        WHERE id = ?
    ''', (student_id,))
    connection.commit()
    print("Student deleted successfully!")

delete_student(2)  # Deleting Guts's record
read_students()

Student deleted successfully!
Student Records:
(1, 'Griffith', 21)
(3, 'Griffith', 20)
(4, 'Guts', 22)
(5, 'Griffith', 20)
(6, 'Guts', 22)

# Closing the database connection

In [51]:
connection.close()